In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
df=pd.read_excel('Data_Train.xlsx')

In [4]:
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [6]:
df.columns

Index(['Airline', 'Date_of_Journey', 'Source', 'Destination', 'Route',
       'Dep_Time', 'Arrival_Time', 'Duration', 'Total_Stops',
       'Additional_Info', 'Price'],
      dtype='object')

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

In [17]:
df['Airline'].unique()

array(['IndiGo', 'Air India', 'Jet Airways', 'SpiceJet',
       'Multiple carriers', 'GoAir', 'Vistara', 'Air Asia',
       'Vistara Premium economy', 'Jet Airways Business',
       'Multiple carriers Premium economy', 'Trujet'], dtype=object)

In [18]:
df['Airline']=df['Airline'].map({'IndiGo':1,'Air India':2,'Jet Airways':3, 'SpiceJet':4,'Multiple carriers':5, 'GoAir':6, 'Vistara':7, 'Air Asia':8,'Vistara Premium economy':9, 'Jet Airways Business':10,'Multiple carriers Premium economy':11, 'Trujet':12})

# Names of Airlines coded:-
    'IndiGo' -> 1
    'Air India' -> 2
    'Jet Airways' -> 3
    'SpiceJet' -> 4
    'Multiple carriers' -> 5
    'GoAir' -> 6
    'Vistara' -> 7
    'Air Asia' -> 8
    'Vistara Premium economy' -> 9
    'Jet Airways Business' -> 10
    'Multiple carriers Premium economy' -> 11
    'Trujet' -> 12

In [21]:
df['Source'].unique()

array(['Banglore', 'Kolkata', 'Delhi', 'Chennai', 'Mumbai'], dtype=object)

In [22]:
df['Source']=df['Source'].map({'Banglore':1, 'Kolkata':2, 'Delhi':3, 'Chennai':4, 'Mumbai':5})

## Names of Source coded:-
    'Banglore' -> 1
    'Kolkata' -> 2
    'Delhi' -> 3
    'Chennai' -> 4
    'Mumbai' -> 5

In [24]:
df['Destination']=df['Destination'].map({'Banglore':1, 'Kolkata':2, 'Delhi':3, 'Chennai':4, 'Mumbai':5})

## Names of Destination coded:-
    'Banglore' -> 1
    'Kolkata' -> 2
    'Delhi' -> 3
    'Chennai' -> 4
    'Mumbai' -> 5

In [28]:
df=df.dropna()

In [29]:
df['Total_Stops'].unique()

array(['2 stops', '1 stop', 'non-stop', '3 stops'], dtype=object)

## Total Stops Coded:-
    '2 stops' -> 2
    '1 stop' -> 1
    'non-stop' -> 0
    '3 stops' -> 3

In [31]:
df['Total_Stops']=df['Total_Stops'].map({'2 stops':2, '1 stop':1, 'non-stop':0, '3 stops':3})

C:\Users\ayan0\AppData\Local\Temp\ipykernel_3244\240911274.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Total_Stops']=df['Total_Stops'].map({'2 stops':2, '1 stop':1, 'non-stop':0, '3 stops':3})

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4517 entries, 1 to 10680
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          4517 non-null   int64
 1   Date_of_Journey  4517 non-null   object
 2   Source           4517 non-null   int64
 3   Destination      4517 non-null   float64
 4   Route            4517 non-null   object
 5   Dep_Time         4517 non-null   object
 6   Arrival_Time     4517 non-null   object
 7   Duration         4517 non-null   object
 8   Total_Stops      4517 non-null   int64
 9   Additional_Info  4517 non-null   object
 10  Price            4517 non-null   int64
dtypes: float64(1), int64(4), object(6)
memory usage: 423.5+ KB